.box {
    margin: 5% 7.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
    border: 1px solid rgb(211,211,211,0.5);

}

#detailBox {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 100px;
    padding-bottom: 30px;
}

#imageBoxCarDetail{
    height: 100%;
    /* object-fit: contain; */
}
#carImage{
    height: 100%;
    width: 100%;
    object-fit:fill;
}
#oneRow1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    /* align-items: center; */
}

#oneRow1 h4 {
    font-weight: 500;
}

#carDetailBottom h1,
.carDetailHr {
    color: rgba(56, 40, 80, 0.501);
}
.carDetailHr{
    margin-bottom: 30px;

}
#carDetailBottom {
    margin: 0 7.5%;
    text-align: left;
    margin-bottom: 5%;

}

#carDetailBottom h4 {
    font-weight: 500;
    font-size: 20px;
}

#Avail {
    background-color: green;
    color: white;
    font-size: 15px;
    width: 160px;
    padding: 10px;
}

#NAvail {
    background-color: grey;
    color: white;
    font-size: 15px;
    width: 160px;
    padding: 10px;
}

#currentBookingBox {
    margin: 0 7.5%;
    text-align: left;
}

#currentBookingBox h1,
.carDetailHr {
    color: rgba(56, 40, 80, 0.501);
}

#rentVroom {
    margin: 0 5%;
    text-align: left;
    margin-top: 10%;
}

h1 {
    font-weight: 600;
}

#NBook {
    width: auto;
    height: auto;
    font-size: 20px;
    padding: 10px;
    size: 40px;
    border-radius: 2px;
    white-space: nowrap;
    background-color: rgb(128,128,128,0.5);
    color:rgb(255, 255, 255,0.5);
}

#CurrUnavail {
    font-size: 13px;
    display: block;
    color: red;
}
@media (max-width:798px){
    /* .box {
        display: flex;
        flex-direction: column;
        margin:5% 7.5%;
    } */
    #detailBox {
        align-items: center;
        padding-left: 0;
        border: 0;
    }
    #carImage{
        height: 100%;
        width: 100%;
        object-fit:contain;
    }
}
@media (max-width:480px) {
    #detailBox {
        align-items: center;
        padding-left: 0;
        border: 0;
    }
    .box {
        display: flex;
        flex-direction: column;
        margin:5% 7.5%;
    }
}